<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dodream.project.PjDAO"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->


	<select id="login" resultType="org.dodream.project.PjVO">
        select id,pwd from pjuser
        
    </select>
    

    <insert id="input" parameterType="org.dodream.project.PjVO">
        insert into project (num, title, contents, author,regdate, ref) 
        	values ( seq_pj_num.nextval, #{title}, #{contents}, #{author}, sysdate , #{num})
    </insert>
    
    
    <insert id="join" parameterType="org.dodream.project.UserVO">
        insert into pjuser  
        	values (#{id}, #{pwd}, #{enabled}, #{name} ,'user'  )
    </insert>
    
    <select id="getRecent" resultType="org.dodream.project.PjVO">
    	select * from project where num=(select max(num) from
    	(select * from project where author=#{author}))
    </select>
    
    <select id="getFrecent" resultType="org.dodream.project.FileVO">
    	select * from pds where num=(select max(num) from
    	(select * from project where author=#{author}))
    </select>
		
	<select id="getList" resultType="org.dodream.project.PjVO">
	SELECT * FROM view_project_page WHERE page=1
	</select>
	
	<select id="getRead" resultType="org.dodream.project.PjVO">
        select * from project where num=#{num}
    </select>
    <select id="getFread" resultType="org.dodream.project.FileVO">
        select * from pds where num=#{num}
    </select>

    <select id="getFind" resultType="org.dodream.project.PjVO">
        SELECT * FROM project WHERE 
        <if test="category=='title'">
        title LIKE '%'||#{keyword}||'%'
        </if>
        
        <if test="category=='author'">
         author LIKE '%'||#{keyword}||'%'
        </if>
        
         <if test="category=='contents'">
        contents LIKE '%'||#{keyword}||'%'
        </if>
         
    </select>

    <update id="Modify" parameterType="org.dodream.project.PjVO">
        update project set title=#{title}, author=#{author}, contents=#{contents} where num=#{num}
    </update>
    
    <delete id="delete" >
        delete from project where num=#{num}
    </delete>
    <select id="getPage" parameterType="int" resultMap="PjMap">
  select NUM,TITLE,CONTENTS,AUTHOR,REGDATE,PAGE,ROWNUM,REF,TOTALPAGES from(
  select num, title, contents,author,regdate,FLOOR((rownum-1)/7+1) page,rownum,ref,ceil(count(*) over()/7) totalpages from
  	(
    select num,lpad('└',(level-1)*3,' ')||title title,contents,author,regdate,ref,rownum from
      (select num, title, contents,author,regdate,rownum,ref from project)
    start with ref=0 connect by prior num=ref
  	)
	)where page=#{ pgnum }
    </select>
    
    <insert id="fileUP" parameterType="org.dodream.project.FileVO">
     <selectKey keyProperty="num" order="BEFORE" resultType="int">
     	select max(num) from project where author=#{owner}
     </selectKey>
     insert into pds (num,owner,fdesc,fname1,fname2,fsize,udate)
     values (#{num},#{owner},#{desc},#{fname1},#{fname2},#{fsize},sysdate)
    </insert>
    
    
     <resultMap id="PjMap" type="org.dodream.project.PjV">
        <result property="page" column="page"/>
        <result property="totalpages" column="totalpages"/>

        <collection property="list" column="num" javaType="ArrayList" ofType="org.dodream.project.PjVO">
            <id property="num" column="num"/>
            <result property="title" column="title"/>
            <result property="contents" column="contents"/>
            <result property="author" column="author"/>
            <result property="ref" column="ref"/>
        </collection> 
    </resultMap>
    
</mapper>
    




